@model Products.Models.ProudctTask

@{
    ViewBag.Title = "Visitors";
}

<h2>Visitors</h2>

<p style="color:black"><h2>Total Number of visitors: @ApplicationInstance.Application["Totaluser"]</h2></p>